= form_for @sword, remote: true do |f|
  %div.row
    %div.mb-3.col
      = f.label :name, class: 'form-label'
      = f.text_field :name, class: 'form-control'
    %div.mb-3.col
      = f.label :type, class: 'form-label'
      = f.select :sword_type_id, SwordType.all.collect { |st| [st.material, st.id] }, {}, class: 'form-select'
  %div.row
    %div.mb-3.col
      = f.label :min_damage, class: 'form-label'
      = f.number_field :min_damage, class: "form-control", id: "replyNumber", min: "0", step: "1", "data-bind": "value:replyNumber"
    %div.mb-3.col
      = f.label :max_damage, class: 'form-label'
      = f.number_field :max_damage, class: "form-control", id: "replyNumber", min: "1", step: "1", "data-bind": "value:replyNumber"
    %div.mb-3
      = f.submit 'Create', class: "btn btn-primary"