%nav.navbar.navbar-expand.bg-light
  %p.d-inline-block.align-top= image_tag 'img_1.png', size: "30x30"
  %p= link_to 'Tourbases DB', root_path, class: "navbar-brand"

  %div.collapse.navbar-collapse{id: "navbarSupportedContent"}
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %p= link_to "My tourbase", my_tourbase_path, class: "nav-link"
      %li.nav-item.active
        %p= link_to "Regions", regions_path, class: "nav-link"
      - for_elder_only do
        %li.nav-item.active
          %p= link_to "Tourbases", tourbases_path, class: "nav-link"
        %li.nav-item
          %p= link_to "Tourists", tourists_path, class: "nav-link"
        %li.nav-item
          %p= link_to "Users", users_path, class: "nav-link"
      %li.nav-item
        %p= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"

