= form_for @witcher, remote: true do |f|
  %div.row
    %div.mb-3.col
      = f.label :name, class: 'form-label'
      = f.text_field :name, class: 'form-control'
    %div.mb-3.col
      = f.label :nickname, class: 'form-label'
      = f.text_field :nickname, class: 'form-control'
  %div.row
    %div.mb-3.col
      = f.label :age, class: 'form-label'
      = f.number_field :age, class: "form-control", id: "replyNumber", min: "1", step: "1", "data-bind": "value:replyNumber"
    %div.mb-3.col
      = f.label :location, class: 'form-label'
      = f.text_field :location, class: 'form-control'
  %div.row
    %div.mb-3.col
      = f.label :sword, class: 'form-label'
      = f.select :sword, Sword.without_owner.collect { |sw| ["#{sw.name} - #{sw.sword_type.material}", sw.id] }, {}, class: 'form-select'
    %div.mb-3.col
      = f.label :school_id, class: 'form-label'
      = f.select :school_id, School.all.collect { |sch| [sch.name, sch.id] }, {}, class: 'form-select'
    %div.mb-3
      = f.submit 'Create', class: "btn btn-primary"