%tr[school]
  %td= school.name
  %td= school.location
  %td= school.witchers.size
  - for_elder_only do
    %td
      = link_to "Edit", edit_school_path(school), remote: true
      = link_to "Destroy", school_path(school), method: :delete, remote: true, data: { confirm: "Are you sure?" }